@import url(/css/general.css);
@import url(/css/style.css);
@import url("http://fonts.cdnfonts.com/css/better-saturday");

/* ***************************************** */
/* BANNER */
/* ***************************************** */

.about-us-banner {
  position: relative;
  height: 35rem;
  width: 100%;
  background-color: #000;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
  padding: 8rem;
}

.flowers {
  position: absolute;
  width: 32rem;
  /* transform: translate(0, 0); */
}

.flower-left {
  top: -12%;
  left: -7%;
  transform: rotate(331deg);
}

.flower-right {
  bottom: 0;
  right: -7%;
  transform: rotate(0deg);
}

.banner-content p {
  color: #fff;
  font-size: 5.4rem;
  line-height: 1.8;
  font-family: "Better Saturday", sans-serif;
  z-index: 1;
}

/* ***************************************** */
/* OUR MISSION */
/* ***************************************** */

.our-mission {
  display: flex;
  flex-direction: column;
  padding-bottom: 6.4rem;
}

.our-mission-text {
  font-size: 2.2rem;
  line-height: 1.6;
}

/* ***************************************** */
/* ABOUT FOUNDER */
/* ***************************************** */

.founder {
  background-color: #ddd6f3;
  height: 43rem;
}

.origin {
  background-color: #e7e2f7;
  height: 43rem;
}

.our-vision {
  background-color: #ddd6f3;
  height: 43rem;
}

.about-item {
  display: flex;
  gap: 6.4rem;
  align-items: center;
}
.item-photo {
  width: 33rem;
  padding: 5.4rem 0;
}

.about-item p {
  font-size: 1.8rem;
  line-height: 1.4;
  word-spacing: 2px;
}
