.contact-us-main {
  padding: 9.6rem 0;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

iframe {
  height: 38rem;
  width: 48rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact-info h1 {
  padding-bottom: 4.8rem;
  font-size: 3rem;
}

.contact-items p {
  font-size: 2.2rem;
  line-height: 1.8;
}

.contact-items a:link,
.contact-items a:visited {
  text-decoration: none;
  transition: all 0.25s;
}

.contact-items a:hover,
.contact-items a:active {
  color: #000;
}

.contact-us-icon {
  color: #e9c600;
  margin-right: 2rem;
}
