/*


- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 /
 74 / 86 / 98

- Font Family
Headings : Italiana
Regular text : Brygada 1918
Important text : Volkorn SC 


- Font weights
Default : 400
Medium : 500
Semi bold : 600
bold : 700

- Line heights
Default: 1
small : 1.05
medium : 1.2
p default : 1.6

- Letter spacing
-0.5px
0.75px


-- Colors
- Primary : #e9c600
- Tints : 
#f8eeb3
#fbf4cc

#ddc7e6


(for background)
- Shades :    
#faaaa5 
#ddd6f3  
- Accents : 
#ffd700

#e6c200

#ccac00
- Greys

-white #F8F0E3



--- Shadows

---Border Radius

Default : none

--- Whitespaces

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #faf9f6;
}

html {
  font-size: 10px;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}
/* ******************************** */
/* GENERIC REUSABLE COMPONENTS */
/* ******************************** */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 4.8rem;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.primary-heading {
  display: flex;
  justify-content: center;
  padding-top: 9.6rem;
  margin-bottom: 4.2rem;
  width: 100%;
}

.primary-heading h1 {
  color: #333;
  font-family: "Italiana", sans-serif;
  font-size: 4.4rem;
  letter-spacing: 2px;
  padding: 4.8rem 0 3rem 0;
  font-weight: 500;
}

/* ******************************** */
/* HELPER/SETTING CLASSES */
/* ******************************** */
strong {
  font-weight: 500;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}
