/*


- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 /
 74 / 86 / 98

- Font Family
Headings : Italiana
Regular text : Brygada 1918
Important text : Volkorn SC 


- Font weights
Default : 400
Medium : 500
Semi bold : 600
bold : 700

- Line heights
Default: 1
small : 1.05
medium : 1.2
p default : 1.6

- Letter spacing
-0.5px
0.75px


-- Colors
- Primary : #e9c600
- Tints : 
#f8eeb3
#fbf4cc

#ddc7e6


(for background)
- Shades :    
#faaaa5 
#ddd6f3  
#eeebf9
- Accents : 
#ffd700

#e6c200

#ccac00
- Greys

-white #F8F0E3



--- Shadows

---Border Radius

Default : none

--- Whitespaces

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #faf9f6;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}
/* ******************************** */
/* GENERIC REUSABLE COMPONENTS */
/* ******************************** */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 4.8rem;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.logo img {
  width: 12.2rem;
  height: 8.4rem;
}

.primary-heading {
  display: flex;
  justify-content: flex-start;
  padding-top: 9.6rem;
  margin-bottom: 4.2rem;
  width: 100%;
}

.primary-heading h1 {
  color: #333;
  font-family: "Italiana", sans-serif;
  font-size: 4.4rem;
  letter-spacing: 2px;
  /* padding: 4.8rem 0 3rem 0; */
  font-weight: 500;
}

.secondary-heading {
  color: #333;
  font-family: "Italiana", sans-serif;
  font-size: 3.6rem;
  letter-spacing: 2px;
  padding: 4.8rem 0 3rem 0;
  font-weight: 500;
}

/* ******************************** */
/* HELPER/SETTING CLASSES */
/* ******************************** */
strong {
  font-weight: 500;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

/* ***********************************STYLING HEADER ************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf9f6;
  border-bottom: 1px solid #000;

  /* We want header to be sticky later */
  height: 15vh;
  max-width: 100vw;
  padding: 0 4.8rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.main-nav {
  max-width: 100%;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  transition: all 0.25s;
  /* letter-spacing: 0.1rem; */
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ffd700;
}

.main-nav-icon:link,
.main-nav-icon:visited {
  font-size: 2.2rem;
}

/********************************************* News Letter *********************************************/
.newsletter-bg {
  background-color: #181616;
  border-bottom: 2px solid rgba(255, 255, 255, 0.699);
}

#news-letter {
  padding: 2.4rem 4.4rem;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

#news-letter .info h4 {
  font-size: 2.4rem;
}

#news-letter .info p {
  font-size: 1.6rem;
  word-spacing: 0.5px;
  margin-top: 1rem;
}

#news-letter .info span {
  color: #e9c600;
  font-weight: 500;
}

#news-letter .form {
  display: flex;
  align-self: center;
  font-size: 1.6rem;
  flex-wrap: wrap;
  gap: 3rem;
}

#news-letter .form input {
  min-width: 35.6rem;
  padding: 0 0.5rem 0 1rem;

  /* margin: 0 30px; */
  border-radius: 3px;
  border: 2px solid white;
  cursor: pointer;
  outline: none;
}

.btn-sign-up:link,
.btn-sign-up:visited {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border-radius: 3px;

  height: 5rem;
  line-height: 50px;
  padding: 0 3.5rem;
  letter-spacing: 2px;
  transition: all 0.35s;
  background: transparent;
  box-shadow: inset 0 0 0 2px #e9c600;
  color: #fff;
}

.btn-sign-up:hover,
.btn-sign-up:active {
  text-decoration: none;

  background-color: #e9c600;
  color: #333;
}

/* ******************************************** Footer *********************************************/
footer {
  /* background: linear-gradient(
    to right bottom,
    rgb(255, 245, 228),
    rgb(255, 227, 225),
    rgb(255, 209, 209),
    rgb(255, 148, 148)
  ); */
  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #555555;
  padding: 14.9rem 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
}

.footer .contact,
.footer .about {
  flex-basis: 9rem;
}

.footer .contact .address {
  margin-bottom: 2rem;
  margin-top: 3.6rem;
}

.location,
.call,
.mail {
  color: #333;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: -5px;
  margin-right: 10px;
}

.footer .col .brand-name:link img,
.footer .col .brand-name:visited img {
  width: 12.2rem;
  height: 8.4rem;
  text-decoration: none;
  color: #555555;
  filter: brightness(40%) saturate(0);
  transition: all 0.3s;
}

.footer .col .brand-name:hover img,
.footer .col .brand-name:active img {
  filter: none;
}

.footer .col .follow {
  margin-top: 25%;
  display: flex;
  gap: 2rem;
}

.follow a:link,
.follow a:visited {
  font-size: 2.4rem;
  cursor: pointer;
  padding-right: 1.4rem;
}

.footer .follow a:hover,
.footer .follow a:active {
  transform: scale(1.3);
  transition: 0.2s;
}

.about .footer-link:link,
.about .footer-link:visited {
  text-overflow: ellipsis;
}

.install .apps {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  margin-bottom: 6rem;
}

.install h3 {
  margin-bottom: 4.4rem;
}
.install .apps img {
  width: 10rem;
  border-radius: 6px;
  height: auto;
}

.install #payment img {
  width: 20rem;
  height: auto;
}

.footer .col ul {
  list-style: none;

  line-height: 2.8;
}

.footer-heading {
  font-size: 2.2rem;
  margin-bottom: 3rem;
  color: #555555;
}

.footer p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
}

.footer-link:link,
.footer-link:visited {
  /* text-decoration: none; */
  font-size: 1.6rem;
  color: #555555;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #333;
}

#copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
  background-color: #000;
  padding: 0.4rem;
  font-size: 1.6rem;
}
