@import url(/css/general.css);

body {
  background: linear-gradient(to right, #fbf4cc, #fceabb, #facb4d);
}

/* Product Section */

.product-list {
  margin-bottom: 9.6rem;
}

.pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.pro {
  max-width: 25rem;
  background-color: #000;
  border-radius: 10px;
  position: relative;
  margin-bottom: 2rem;
  box-shadow: rgb(255 255 255 / 10%) 0px 4px 6px -1px,
    rgb(255 255 255 / 6%) 0px 2px 4px -1px;
}

.product-img {
  background-color: #ddd;
  margin-bottom: 1rem;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}

.pro img {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: 0.35s;
  height: 40%;
}

.pro img:hover {
  transform: scale(1.1);
}

.description {
  text-align: start;
  padding: 1.2rem 2rem;
}
.description span {
  color: #e9c600;
  border-radius: 2rem;
  font-size: 1.4rem;
  opacity: 75%;
}

.description h5 {
  margin-top: 2.4rem;
  font-size: 2rem;
  color: #ddd;
}
.checked {
  color: #e9c600;
  font-size: 1.4rem;
}

.description h4 {
  margin-top: 1.6rem;
  font-size: 15px;
  font-weight: 700;
  color: #ddd;
}

.cart {
  width: 2.4rem;
  height: 2.4rem;
  padding: 5px;
  border-radius: 50px;
  font-weight: 500;
  color: #e9c600;
  position: absolute;
  bottom: 20px;
  right: 10px;
  transition: all 0.2s ease-in;
}

.cart:hover,
.cart:active {
  background-color: #e9c600;
  color: #000;
}

/* media Queries*/
@media screen and (max-width: 400px) {
  .section-p1 {
    margin: 0px;
  }
  .product-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  .single-pro-image {
    width: 100%;
  }
  .single-pro-details {
    width: 100%;
    padding: 30px;
  }
}
